/* Глобальные стили для Ant Design Layout */
.ant-layout {
  background: #0a0a0a !important;
}

.ant-layout-content {
  background: #0a0a0a !important;
}

html {
  scroll-behavior: smooth;
  background: #0a0a0a;
}

